<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
  </appSettings>
  
  <connectionStrings>
    <add name="FirmwareSqlProvider" connectionString="Data Source=.\; Initial Catalog=FirmwarePOC; Integrated Security =True" />
  </connectionStrings>

</configuration>